* {
  box-sizing: border-box;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
body {
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: hsl(200, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%));
}
svg {
  display: none;
  width: 95vmin;
}
.moon__cloud,
.sun__cloud {
  fill: #00f;
  display: none;
}
.cloud--static {
  fill: hsl(0, 0%, calc(var(--lightness) * 1%));
}
.cloud-path {
  fill: #bfbfbf;
}
.moon {
  fill: hsl(0, 0%, calc(var(--lightness) * 1%));
}
.stars-path {
  fill: #d2ccac;
}
.sun,
.sun__ray {
  fill: hsl(50, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%));
}